# Dependencies
web/node_modules
web/.pnp
web/.pnp.js

# Testing
web/coverage

# Next.js
web/.next/
web/out/
web/build
web/dist

# Production
web/build

# Misc
web/.DS_Store
web/*.pem

# Debug
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*

# Local env files
web/.env*.local
web/.env

# Vercel
web/.vercel

# TypeScript
web/*.tsbuildinfo
web/next-env.d.ts

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
/web/.next